In [45]:
import pandas as pd
list_data = [3.83,4.00,2.98,3.00,2.80]
series1 = pd.Series(list_data,name="Series1")
print(series1)
print()
series2 = pd.Series([98,100,78,80,70],name="Series2")
print(series2)

0    3.83
1    4.00
2    2.98
3    3.00
4    2.80
Name: Series1, dtype: float64

0     98
1    100
2     78
3     80
4     70
Name: Series2, dtype: int64

In [46]:
list_data = [3.83,4.00,2.98,3.00,2.80]
series1 = pd.Series(list_data,index=["A","A","B","A","B"])
print(series1)

A    3.83
A    4.00
B    2.98
A    3.00
B    2.80
dtype: float64

In [47]:
tuple_data = ["red","green","green","blue","pink","blue"]
series1 = pd.Series(tuple_data, dtype="category", name="color")
print(series1)

0      red
1    green
2    green
3     blue
4     pink
5     blue
Name: color, dtype: category
Categories (4, object): ['blue', 'green', 'pink', 'red']

In [48]:
tuple_data = ("red","green","blue","pink")
series1 = pd.Series(tuple_data, index=("r","g","b","p"), name="color")
print(series1)

r      red
g    green
b     blue
p     pink
Name: color, dtype: object

In [49]:
dict_data = {"Mon":"Monday","Tue":"Tuesday","Wed":"Wednesday","Thu":"Thursday","Fri":"Friday","Sat":"Saturday","Sun":"Sunday"}
series1 = pd.Series(dict_data)
print(series1)

Mon       Monday
Tue      Tuesday
Wed    Wednesday
Thu     Thursday
Fri       Friday
Sat     Saturday
Sun       Sunday
dtype: object

In [50]:
import numpy as np
ndarray_data = np.array([10,20,30,40,50])
series1 = pd.Series(ndarray_data)
print(series1)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [51]:
name_series = pd.Series(["สมชาย","สมหญิง","สมใจ"])
surname_series = pd.Series(["รักธรรม","ใจดี","ใฝ่ดี"])
age_series = pd.Series([18,19,20])
name_df = pd.DataFrame(name_series,columns=["ชื่อ"])
surname_df = pd.DataFrame(surname_series,columns=["นามสกุล"])
age_df = pd.DataFrame(age_series,columns=["อายุ"])
df = pd.concat([name_df,surname_df,age_df])
print(df)
df_axis0 = pd.concat([name_df,surname_df,age_df],axis=0)
print(df_axis0)
df_axis1 = pd.concat([name_df,surname_df,age_df],axis=1)
print(df_axis1)

     ชื่อ  นามสกุล  อายุ
0   สมชาย      NaN   NaN
1  สมหญิง      NaN   NaN
2    สมใจ      NaN   NaN
0     NaN  รักธรรม   NaN
1     NaN     ใจดี   NaN
2     NaN    ใฝ่ดี   NaN
0     NaN      NaN  18.0
1     NaN      NaN  19.0
2     NaN      NaN  20.0
     ชื่อ  นามสกุล  อายุ
0   สมชาย      NaN   NaN
1  สมหญิง      NaN   NaN
2    สมใจ      NaN   NaN
0     NaN  รักธรรม   NaN
1     NaN     ใจดี   NaN
2     NaN    ใฝ่ดี   NaN
0     NaN      NaN  18.0
1     NaN      NaN  19.0
2     NaN      NaN  20.0
     ชื่อ  นามสกุล  อายุ
0   สมชาย  รักธรรม    18
1  สมหญิง     ใจดี    19
2    สมใจ    ใฝ่ดี    20

In [52]:
data = [["นายเอ",18000],["นางสาวบี",25000],["นายซี",35000]]
df = pd.DataFrame(data,columns=["ชื่อ","เงินดือน"])
print(df)

       ชื่อ  เงินดือน
0     นายเอ     18000
1  นางสาวบี     25000
2     นายซี     35000

In [53]:
data = [{"ชื่อ":"นายเอ","เงินเดือน":18000},{"ชื่อ":"นางสาวบี","เงินเดือน":25000},{"ชื่อ":"นายซี","เงินเดือน":35000}]
df = pd.DataFrame(data)
print(df)

       ชื่อ  เงินเดือน
0     นายเอ      18000
1  นางสาวบี      25000
2     นายซี      35000

In [54]:
name = ["นายเอ", "นางสาวบี", "นายซี"]
salary = [18000,25000,35000]
data = {"ชื่อ":name,"เงินเดือน":salary}
df = pd.DataFrame(data)
print(df)

       ชื่อ  เงินเดือน
0     นายเอ      18000
1  นางสาวบี      25000
2     นายซี      35000

In [55]:
array = np.array([["ด.ช.สมชาย", "ใสดี", 3.83],
                          ["ด.ญ.สมใจ", "เรียนดี", 2.82],
                          ["ด.ญ.แก้มใส", "วินัยดี", 3.58],
                          ["ด.ช.สมเกียรติ", "รักไทย", 2.95],
                          ["ด.ช.สมหญิง", "ถิ่นไทย", 2.68]])
index_values = ["001","002","003","004","005"]
column_values = ["ชื่อ","นามสกุล","เกรด"]
df = pd.DataFrame(data=array,index=index_values,columns=column_values)
print(df)

              ชื่อ  นามสกุล  เกรด
001      ด.ช.สมชาย     ใสดี  3.83
002       ด.ญ.สมใจ  เรียนดี  2.82
003     ด.ญ.แก้มใส  วินัยดี  3.58
004  ด.ช.สมเกียรติ   รักไทย  2.95
005     ด.ช.สมหญิง  ถิ่นไทย  2.68

In [56]:
dict_data = {"Mon":"Monday","Tue":"Tuesday","Wed":"Wednesday","Thu":"Thursday","Fri":"Friday","Sat":"Saturday","Sun":"Sunday"}
series1 = pd.Series(dict_data)
print(series1)
print("ค่าของข้อมูลของ Series มีดังนี้ ",series1.values)
print("ค่า index ของ Series มีดังนี้ ",series1.index)
print()
print("ข้อมูล 5 ตัวแรกสุดของ Series มีดังนี้ ",series1.head().values)
print("ข้อมูล 3 ตัวแรกสุดของ Series คือ")
print(series1.head(3))
print("ข้อมูล 5 ตัวท้ายสุดของ Series มีดังนี้",series1.tail().values)

Mon       Monday
Tue      Tuesday
Wed    Wednesday
Thu     Thursday
Fri       Friday
Sat     Saturday
Sun       Sunday
dtype: object
ค่าของข้อมูลของ Series มีดังนี้  ['Monday' 'Tuesday' 'Wednesday' 'Thursday' 'Friday' 'Saturday' 'Sunday']
ค่า index ของ Series มีดังนี้  Index(['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'], dtype='object')

ข้อมูล 5 ตัวแรกสุดของ Series มีดังนี้  ['Monday' 'Tuesday' 'Wednesday' 'Thursday' 'Friday']
ข้อมูล 3 ตัวแรกสุดของ Series คือ
Mon       Monday
Tue      Tuesday
Wed    Wednesday
dtype: object
ข้อมูล 5 ตัวท้ายสุดของ Series มีดังนี้ ['Wednesday' 'Thursday' 'Friday' 'Saturday' 'Sunday']

In [57]:
series1 = pd.Series([10,20,30,40,50,60,70,80,90])
print(series1[0])
print(series1[8])
print()
print(series1[[0,2,4,6,8]])

10
90

0    10
2    30
4    50
6    70
8    90
dtype: int64

In [58]:
series1 = pd.Series(["P","Y","T","H","O","N"])
print(series1[0:2].values)
print(series1[2:6].values)
print(series1[:2].values)
print(series1[:6].values)
print(series1[3:].values)
print(series1[4:].values)

['P' 'Y']
['T' 'H' 'O' 'N']
['P' 'Y']
['P' 'Y' 'T' 'H' 'O' 'N']
['H' 'O' 'N']
['O' 'N']

In [59]:
series1 = pd.Series(["Alex","Barbie","Cathie","David","Elsa"],index=["A","B","C","D","E"])
print(series1[0:2].values)
print(series1[:2].values)
print(series1[3:].values)
print(series1.loc["A":"C"].values)
print(series1.loc[:"C"].values)
print(series1.loc["D":].values)

['Alex' 'Barbie']
['Alex' 'Barbie']
['David' 'Elsa']
['Alex' 'Barbie' 'Cathie']
['Alex' 'Barbie' 'Cathie']
['David' 'Elsa']

In [60]:
list_data = [8.8,7.7,1.1,np.NaN,2.2]
series1 = pd.Series(list_data, index = ["A","B","C","D","E"])
print("เรียงข้อมูลตามลำดับ index ของ Series")
print(series1.sort_index())
print("เรียงข้อมูลตามลำดับข้อมูลของ Series")
print(series1.sort_values())
print(series1.sort_values(ascending=False)) #เรียงจากมากไปน้อย
print(series1.sort_values(ascending=False,na_position="first"))

เรียงข้อมูลตามลำดับ index ของ Series
A    8.8
B    7.7
C    1.1
D    NaN
E    2.2
dtype: float64
เรียงข้อมูลตามลำดับข้อมูลของ Series
C    1.1
E    2.2
B    7.7
A    8.8
D    NaN
dtype: float64
A    8.8
B    7.7
E    2.2
C    1.1
D    NaN
dtype: float64
D    NaN
A    8.8
B    7.7
E    2.2
C    1.1
dtype: float64

In [61]:
s1 = pd.Series([10,20,30])
s1 = s1.append(pd.Series([40,50,60]))
s2 = pd.Series([70,80,90])
s1 = s1.append(s2)
print(s1) #index ไม่เรียงให้
print()
s1 = s1.append(s2,ignore_index=True)
print(s1)

0    10
1    20
2    30
0    40
1    50
2    60
0    70
1    80
2    90
dtype: int64

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9     70
10    80
11    90
dtype: int64

In [62]:
s1 = pd.Series([10,20,30,40,50])
s1.drop(index=0)
print(s1)
s1.drop(index=0,inplace=True) #ต้องมี inplace=True เพราะต้องแทนที่ Series เดิม
print(s1)
s2 = pd.Series([60,70,80,90,100],index=["i1","i2","i3","i4","i5"])
s2.drop(labels=["i2","i3"],inplace=True) #ต้องมี inplace=True เพราะต้องแทนที่ Series เดิม
print(s2)

0    10
1    20
2    30
3    40
4    50
dtype: int64
1    20
2    30
3    40
4    50
dtype: int64
i1     60
i4     90
i5    100
dtype: int64

In [63]:
s1 = pd.Series([25,39,18,8,90,25,8,90])
s1.update(pd.Series([100,1000],index=[0,7]))
print(s1)

0     100
1      39
2      18
3       8
4      90
5      25
6       8
7    1000
dtype: int64

In [64]:
my_df = np.array([["Player1","ABC",256],
                           ["Player2","SkyBlue",320],
                           ["Player3","ABC",185],
                           ["Player4","SkyBlue",225],
                           ["Player5","Rotation",333],
                           ["Player6","Momomama",210]])
df = pd.DataFrame(data=my_df,
                             columns = ["ชื่อผู้เล่น","ชื่อทีม","คะแนน"],
                             index = ["A","B","C","D","E","F"])
print(df)
print(df.at["D","ชื่อผู้เล่น"])
print(df.iat[2,2])
print(df.loc["A":"C","ชื่อผู้เล่น":"คะแนน"])
print(df.iloc[0:3,0:3])
print(df.loc[df["ชื่อทีม"] == "SkyBlue"])
print(df.loc[(df["ชื่อทีม"] == "SkyBlue") | (df["ชื่อทีม"] == "ABC")])
print(df.loc[pd.to_numeric(df["คะแนน"]) > 250])

  ชื่อผู้เล่น   ชื่อทีม คะแนน
A     Player1       ABC   256
B     Player2   SkyBlue   320
C     Player3       ABC   185
D     Player4   SkyBlue   225
E     Player5  Rotation   333
F     Player6  Momomama   210
Player4
185
  ชื่อผู้เล่น  ชื่อทีม คะแนน
A     Player1      ABC   256
B     Player2  SkyBlue   320
C     Player3      ABC   185
  ชื่อผู้เล่น  ชื่อทีม คะแนน
A     Player1      ABC   256
B     Player2  SkyBlue   320
C     Player3      ABC   185
  ชื่อผู้เล่น  ชื่อทีม คะแนน
B     Player2  SkyBlue   320
D     Player4  SkyBlue   225
  ชื่อผู้เล่น  ชื่อทีม คะแนน
A     Player1      ABC   256
B     Player2  SkyBlue   320
C     Player3      ABC   185
D     Player4  SkyBlue   225
  ชื่อผู้เล่น   ชื่อทีม คะแนน
A     Player1       ABC   256
B     Player2   SkyBlue   320
E     Player5  Rotation   333

In [65]:
my_df = np.array([["Player1","ABC",256],
                           ["Player2","SkyBlue",320],
                           ["Player3","ABC",185],
                           ["Player4","SkyBlue",225],
                           ["Player5","Rotation",333],
                           ["Player6","Momomama",210]])
df = pd.DataFrame(data=my_df,
                             columns = ["ชื่อผู้เล่น","ชื่อทีม","คะแนน"],
                             index = ["A","B","C","D","E","F"])
print(df)
for key , value in df.iteritems():
    print(key)
    print(value)
print()
for index , row in df.iterrows():
    print(index)
    print(row)
print()
for i in df.itertuples():
    print(i)

  ชื่อผู้เล่น   ชื่อทีม คะแนน
A     Player1       ABC   256
B     Player2   SkyBlue   320
C     Player3       ABC   185
D     Player4   SkyBlue   225
E     Player5  Rotation   333
F     Player6  Momomama   210
ชื่อผู้เล่น
A    Player1
B    Player2
C    Player3
D    Player4
E    Player5
F    Player6
Name: ชื่อผู้เล่น, dtype: object
ชื่อทีม
A         ABC
B     SkyBlue
C         ABC
D     SkyBlue
E    Rotation
F    Momomama
Name: ชื่อทีม, dtype: object
คะแนน
A    256
B    320
C    185
D    225
E    333
F    210
Name: คะแนน, dtype: object

A
ชื่อผู้เล่น    Player1
ชื่อทีม            ABC
คะแนน              256
Name: A, dtype: object
B
ชื่อผู้เล่น    Player2
ชื่อทีม        SkyBlue
คะแนน              320
Name: B, dtype: object
C
ชื่อผู้เล่น    Player3
ชื่อทีม            ABC
คะแนน              185
Name: C, dtype: object
D
ชื่อผู้เล่น    Player4
ชื่อทีม        SkyBlue
คะแนน              225
Name: D, dtype: object
E
ชื่อผู้เล่น     Player5
ชื่อทีม        Rotation
คะแนน               333
Name: E, dtype: object
F
ชื่อผู้เล่น     Player6
ชื่อทีม        Momomama
คะแนน               210
Name: F, dtype: object

Pandas(Index='A', ชื่อผู้เล่น='Player1', ชื่อทีม='ABC', คะแนน='256')
Pandas(Index='B', ชื่อผู้เล่น='Player2', ชื่อทีม='SkyBlue', คะแนน='320')
Pandas(Index='C', ชื่อผู้เล่น='Player3', ชื่อทีม='ABC', คะแนน='185')
Pandas(Index='D', ชื่อผู้เล่น='Player4', ชื่อทีม='SkyBlue', คะแนน='225')
Pandas(Index='E', ชื่อผู้เล่น='Player5', ชื่อทีม='Rotation', คะแนน='333')
Pandas(Index='F', ชื่อผู้เล่น='Player6', ชื่อทีม='Momomama', คะแนน='210')

In [66]:
my_df = np.array([["Player8","NumberOne",256],
                           ["Player7","NumberTwo",256],
                           ["Player1","NumberOne",256],
                           ["Player9","NineNine",225],
                           ["Player5","FiveStar",333],
                           ["Player6","SixZipZa",210]])
df = pd.DataFrame(data=my_df,
                             columns = ["ชื่อผู้เล่น","ชื่อทีม","คะแนน"],
                             index = ["8","7","1","9","5","6"])
print(df.sort_index("index", ascending=False)) #ค่าไม่ถูกเก็บใน df
print(df)
print(df.sort_index("index", ascending=False,inplace=True)) #ค่าถูกเก็บใน df
print(df)
df.sort_values("คะแนน",inplace=True)
print(df)
print(df.sort_values(["คะแนน","ชื่อทีม","ชื่อผู้เล่น"])) # sort คะแนนก่อน มาชื่อทีม มาชื่อผู้เล่น
print(df.sort_values(["คะแนน","ชื่อทีม","ชื่อผู้เล่น"],ascending=[False,True,True]))
df_new = df.rename(columns={"ชื่อทีม":"ชือสโมสร"})
print(df_new)
age = ["18","23","20","18","19","19"]
df["อายุ"] = age
print(df)
df.insert(1,"อายุ",[18,23,20,18,19,19],True) #allow_duplicates = False คือ ชื่อคอลัมน์ซ้ำไม่ได้, True คือ ชื่อคอลัมน์ซ้ำได้
print(df)
df = df.assign(จำนวน = [1,2,3,4,5,6]) #จะไปต่อท้ายเสมอ
print(df)

  ชื่อผู้เล่น    ชื่อทีม คะแนน
9     Player9   NineNine   225
8     Player8  NumberOne   256
7     Player7  NumberTwo   256
6     Player6   SixZipZa   210
5     Player5   FiveStar   333
1     Player1  NumberOne   256
  ชื่อผู้เล่น    ชื่อทีม คะแนน
8     Player8  NumberOne   256
7     Player7  NumberTwo   256
1     Player1  NumberOne   256
9     Player9   NineNine   225
5     Player5   FiveStar   333
6     Player6   SixZipZa   210
None
  ชื่อผู้เล่น    ชื่อทีม คะแนน
9     Player9   NineNine   225
8     Player8  NumberOne   256
7     Player7  NumberTwo   256
6     Player6   SixZipZa   210
5     Player5   FiveStar   333
1     Player1  NumberOne   256
  ชื่อผู้เล่น    ชื่อทีม คะแนน
6     Player6   SixZipZa   210
9     Player9   NineNine   225
8     Player8  NumberOne   256
7     Player7  NumberTwo   256
1     Player1  NumberOne   256
5     Player5   FiveStar   333
  ชื่อผู้เล่น    ชื่อทีม คะแนน
6     Player6   SixZipZa   210
9     Player9   NineNine   225
1     Player1  NumberOne   256
8     Player8  NumberOne   256
7     Player7  NumberTwo   256
5     Player5   FiveStar   333
  ชื่อผู้เล่น    ชื่อทีม คะแนน
5     Player5   FiveStar   333
1     Player1  NumberOne   256
8     Player8  NumberOne   256
7     Player7  NumberTwo   256
9     Player9   NineNine   225
6     Player6   SixZipZa   210
  ชื่อผู้เล่น   ชือสโมสร คะแนน
6     Player6   SixZipZa   210
9     Player9   NineNine   225
8     Player8  NumberOne   256
7     Player7  NumberTwo   256
1     Player1  NumberOne   256
5     Player5   FiveStar   333
  ชื่อผู้เล่น    ชื่อทีม คะแนน อายุ
6     Player6   SixZipZa   210   18
9     Player9   NineNine   225   23
8     Player8  NumberOne   256   20
7     Player7  NumberTwo   256   18
1     Player1  NumberOne   256   19
5     Player5   FiveStar   333   19
  ชื่อผู้เล่น อายุ    ชื่อทีม คะแนน อายุ
6     Player6   18   SixZipZa   210   18
9     Player9   23   NineNine   225   23
8     Player8   20  NumberOne   256   20
7     Player7   18  NumberTwo   256   18
1     Player1   19  NumberOne   256   19
5     Player5   19   FiveStar   333   19
  ชื่อผู้เล่น อายุ    ชื่อทีม คะแนน อายุ  จํานวน
6     Player6   18   SixZipZa   210   18       1
9     Player9   23   NineNine   225   23       2
8     Player8   20  NumberOne   256   20       3
7     Player7   18  NumberTwo   256   18       4
1     Player1   19  NumberOne   256   19       5
5     Player5   19   FiveStar   333   19       6

In [67]:
my_df = np.array([["Player8","NumberOne",256],
                           ["Player7","NumberTwo",256],
                           ["Player1","NumberOne",256],
                           ["Player9","NineNine",225],
                           ["Player5","FiveStar",333],
                           ["Player6","SixZipZa",210]])
new_df = np.array([["New_Player88",280],
                            ["New_Player77",320]])
df = pd.DataFrame(data=my_df,
                             columns = ["ชื่อผู้เล่น","ชื่อทีม","คะแนน"],
                             index = ["8","7","1","9","5","6"])
df2 = pd.DataFrame(data=new_df, columns=["ชื่อผู้เล่น","คะแนน"])
new_df1 = df.append(df2)
print(new_df1)
new_df2 = df.append(df2,ignore_index=True)
print(new_df2)

    ชื่อผู้เล่น    ชื่อทีม คะแนน
8       Player8  NumberOne   256
7       Player7  NumberTwo   256
1       Player1  NumberOne   256
9       Player9   NineNine   225
5       Player5   FiveStar   333
6       Player6   SixZipZa   210
0  New_Player88        NaN   280
1  New_Player77        NaN   320
    ชื่อผู้เล่น    ชื่อทีม คะแนน
0       Player8  NumberOne   256
1       Player7  NumberTwo   256
2       Player1  NumberOne   256
3       Player9   NineNine   225
4       Player5   FiveStar   333
5       Player6   SixZipZa   210
6  New_Player88        NaN   280
7  New_Player77        NaN   320

In [68]:
my_df = np.array([["Snack1",10],
                            ["Snack2",20],
                            ["Snack3",30],])
df = pd.DataFrame(data=my_df,columns=["ชื่อสินค้า","ราคา"])
for i in df.index:
    df.at[i,"ราคา"] = pd.to_numeric(df.at[i,"ราคา"])+5
print(df)

  ชื่อสินค้า ราคา
0     Snack1   15
1     Snack2   25
2     Snack3   35

In [69]:
list_data = [11,21,31,32,22,12,np.NaN]
index_list = ["A","B","C","C","B","A","D"]
series = pd.Series(list_data, index = index_list)
print(series)
print(series.groupby(index_list).count()) #ไม่นับ NaN
print(series.groupby(index_list).size()) #นับ NaN
print("หาค่าต่ำสุด-สูงสุดของข้อมูลในแต่ละกลุ่ม")
print(series.groupby(index_list).agg([min,max]))

A    11.0
B    21.0
C    31.0
C    32.0
B    22.0
A    12.0
D     NaN
dtype: float64
A    2
B    2
C    2
D    0
dtype: int64
A    2
B    2
C    2
D    1
dtype: int64
หาค่าต่ำสุด-สูงสุดของข้อมูลในแต่ละกลุ่ม
    min   max
A  11.0  12.0
B  21.0  22.0
C  31.0  32.0
D   NaN   NaN

In [70]:
my_df = {"EmpName" : ["Emp1", "Emp2", "Emp3", "Emp4",
                                     "Emp5", "Emp6", "Emp7"],
               "Dept" : ["Team1", "Team1", "Team1", "Team1",
                             "Team2", "Team2", "Team2"],
               "Salary" : [25000,32500,18000,20000,
                               85000,85000,70000]}
df = pd.DataFrame(data=my_df)
print(df)
group_data = df.groupby("Dept")
display(group_data.get_group("Team1"))
display(group_data.get_group("Team2"))
display(df.groupby("Dept")["Salary"].agg([min,max,sum]))

  EmpName   Dept  Salary
0    Emp1  Team1   25000
1    Emp2  Team1   32500
2    Emp3  Team1   18000
3    Emp4  Team1   20000
4    Emp5  Team2   85000
5    Emp6  Team2   85000
6    Emp7  Team2   70000

  EmpName   Dept  Salary
0    Emp1  Team1   25000
1    Emp2  Team1   32500
2    Emp3  Team1   18000
3    Emp4  Team1   20000

  EmpName   Dept  Salary
4    Emp5  Team2   85000
5    Emp6  Team2   85000
6    Emp7  Team2   70000

         min    max     sum
Dept
Team1  18000  32500   95500
Team2  70000  85000  240000

In [71]:
my_df = {"EmpName" : ["Emp1", "Emp2", "Emp3", "Emp4",
                                     "Emp5", "Emp6", "Emp7"],
               "Dept" : ["Team1", "Team1", "Team1", "Team1",
                             "Team2", "Team2", "Team2"],
               "Salary" : [25000,32500,18000,20000,
                               85000,85000,70000],
               "Bonus" : ["1", "1.5", "1", "2",
                               "2", "2.5", "3"]}
df = pd.DataFrame(data=my_df)
display(df.groupby("Dept").agg({"Bonus" : ["min","max"],
                                                             "Salary" : "sum"}))

      Bonus      Salary
        min max     sum
Dept
Team1     1   2   95500
Team2     2   3  240000

In [72]:
df = pd.read_csv("coffeeshop.csv")
group_data = df.groupby(["branch","product"])
display(group_data.sum())

                    sales
branch   product
Donmueng Americano     20
         Cocao         54
         GreenTea      35
         Latte         44
         ThaiTea       23
Praram2  Espresso      40
         Latte         15
         Mocha         38
Praram9  Americano     10
         GreenTea      33
         Mocha         20
         ThaiTea       45

In [73]:
group_data = df.groupby(["branch","type"])
display(group_data.sum())

               sales
branch   type
Donmueng Cold    114
         Hot      62
Praram2  Cold     56
         Hot      37
Praram9  Cold     10
         Hot      98

In [74]:
s1 = pd.Series([10,20,30,40,50])
s2 = pd.Series([2,3,4,5,6])
print("ผลบวก คือ ",s1.add(s2).values)
print("ผลลบ คือ ",s1.sub(s2).values)
print("ผลคูณ คือ ",s1.multiply(s2).values)
print("ผลหาร คือ ")
print(s1.div(s2))
print("เศษจากการหาร คือ ",s1.mod(s2).values)

ผลบวก คือ  [12 23 34 45 56]
ผลลบ คือ  [ 8 17 26 35 44]
ผลคูณ คือ  [ 20  60 120 200 300]
ผลหาร คือ
0    5.000000
1    6.666667
2    7.500000
3    8.000000
4    8.333333
dtype: float64
เศษจากการหาร คือ  [0 2 2 0 2]

In [75]:
s1 = pd.Series([-2,4,6,-8,10])
print("ค่าสัมบูรณ์ของข้อมูล คือ ",s1.abs().values)
print("เมื่อนำข้อมูลมายกกำลังสองจะได้ค่าดังนี้",s1.pow(2).values)
print("ค่า mean ของข้อมูล คือ ",s1.mean())
print("ค่า median ของข้อมูล คือ ",s1.median())
print("ค่า standard ของข้อมูล คือ ",s1.std())

ค่าสัมบูรณ์ของข้อมูล คือ  [ 2  4  6  8 10]
เมื่อนำข้อมูลมายกกำลังสองจะได้ค่าดังนี้ [  4  16  36  64 100]
ค่า mean ของข้อมูล คือ  2.0
ค่า median ของข้อมูล คือ  4.0
ค่า standard ของข้อมูล คือ  7.0710678118654755

In [76]:
score = pd.Series([80,79,65,90,89,75,60])
print("คะแนนทุกวิชาเกิน 70 คะแนนใช่หรือไม่?: ",(score>70).all())
print("คะแนนบางวิชาเกิน 70 คะแนนใช่หรือไม่?: ",(score>70).any())

คะแนนทุกวิชาเกิน 70 คะแนนใช่หรือไม่?:  False
คะแนนบางวิชาเกิน 70 คะแนนใช่หรือไม่?:  True

In [77]:
s = pd.Series([20,40,60])
print("ข้อมูลอยู่ระหว่าง 10-30 ใช่หรือไม่?:")
print(s.between(10,30))
print("ตัดช่วงข้อมูลให้อยู่ระหว่าง 20-30")
print(s.clip(20,30))
print("หาความแตกต่างระหว่างข้อมูลแต่ละตัวใน Series s")
print(s.diff())
print("ใช้เมธอด count() นับจำนวนข้อมูลได้ : ",s.diff().count())

ข้อมูลอยู่ระหว่าง 10-30 ใช่หรือไม่?:
0     True
1    False
2    False
dtype: bool
ตัดช่วงข้อมูลให้อยู่ระหว่าง 20-30
0    20
1    30
2    30
dtype: int64
หาความแตกต่างระหว่างข้อมูลแต่ละตัวใน Series s
0     NaN
1    20.0
2    20.0
dtype: float64
ใช้เมธอด count() นับจำนวนข้อมูลได้ :  2

In [78]:
s = pd.Series(["Elsa","ShowWhite","Cinederella","Moana","Mulan"])
print(s)
print(s.map({"Elsa": "Elsa Princess",
                   "Moana": "Moana Princess"}))

0           Elsa
1      ShowWhite
2    Cinederella
3          Moana
4          Mulan
dtype: object
0     Elsa Princess
1               NaN
2               NaN
3    Moana Princess
4               NaN
dtype: object

In [79]:
animals = pd.Series(["monkey","bird","ant","bird","monkey","bee","horse"])
print("ใช้ฟังก์ชัน drop_duplicates แสดงรายชื่อสัตว์ได้ดังนี้ : ")
print(animals.drop_duplicates()) #เหมือน unique ต่างที่แสดง index, dtype
print()
print("ใช้ฟังก์ชัน unique แสดงรายชื่อสัตว์ได้ดังนี้ : ",animals.unique())

ใช้ฟังก์ชัน drop_duplicates แสดงรายชื่อสัตว์ได้ดังนี้ :
0    monkey
1      bird
2       ant
5       bee
6     horse
dtype: object

ใช้ฟังก์ชัน unique แสดงรายชื่อสัตว์ได้ดังนี้ :  ['monkey' 'bird' 'ant' 'bee' 'horse']

In [80]:
myseries = pd.Series(["rabbit","cat","dog"])
s1 = myseries.map({"rabbit":"bunny","dog":"puppy"})
print(s1)
print("ตรวจสอบข้อมูลแต่ละตัวใน series ว่าเป็นค่า NaN ใช่หรือไม่")
print(s1.isna().values)
print("ตรวจสอบข้อมูลแต่ละตัวใน series ว่าไม่เป็นค่า NaN ใช่หรือไม่")
print(s1.notna().values)
print()
print("เรียกฟังก์ชัน dropna แล้ว ข้อมูลใน Series คือ ",s1.dropna().values)
print("เรียกฟังก์ชัน fillna แล้ว ข้อมูลใน Series คือ ",s1.fillna("-").values)

0    bunny
1      NaN
2    puppy
dtype: object
ตรวจสอบข้อมูลแต่ละตัวใน series ว่าเป็นค่า NaN ใช่หรือไม่
[False  True False]
ตรวจสอบข้อมูลแต่ละตัวใน series ว่าไม่เป็นค่า NaN ใช่หรือไม่
[ True False  True]

เรียกฟังก์ชัน dropna แล้ว ข้อมูลใน Series คือ  ['bunny' 'puppy']
เรียกฟังก์ชัน fillna แล้ว ข้อมูลใน Series คือ  ['bunny' '-' 'puppy']

In [81]:
s1 = pd.Series([25,39,18,8,90,25,8,90])
print("ข้อมูลที่มีค่ามากที่สุดอยู่ตำแหน่งที่ ", s1.idxmax())
print("ข้อมูลที่มีค่าน้อยที่สุดอยู่ตำแหน่งที่ ", s1.idxmin())

ข้อมูลที่มีค่ามากที่สุดอยู่ตำแหน่งที่  4
ข้อมูลที่มีค่าน้อยที่สุดอยู่ตำแหน่งที่  3

In [82]:
data = np.array(["Kiwi","Strawberry","Banana",
                         "Grape","Apple"])
series = pd.Series(data, index=["K","S","B","G","A"])
print(series)
print("reindex")
series = series.reindex(["C","A","G","B","S"],fill_value = "--")
print(series)
print("============")
print("rename")
series = series.rename(index={"A":"AA","S":"SS"})
print(series)
print("============")
print("reset index, drop=False")
my_series = series.reset_index() #reset index แล้วแต่ index เดิมยังไม่ลบออก
print(my_series)
print("============")
print("reset index, drop=True")
series.reset_index(drop=True,inplace=True) #reset index แล้วแต่ index เดิมลบออก
print(series)

K          Kiwi
S    Strawberry
B        Banana
G         Grape
A         Apple
dtype: object
reindex
C            --
A         Apple
G         Grape
B        Banana
S    Strawberry
dtype: object
============
rename
C             --
AA         Apple
G          Grape
B         Banana
SS    Strawberry
dtype: object
============
reset index, drop=False
  index           0
0     C          --
1    AA       Apple
2     G       Grape
3     B      Banana
4    SS  Strawberry
============
reset index, drop=True
0            --
1         Apple
2         Grape
3        Banana
4    Strawberry
dtype: object

In [83]:
df = pd.DataFrame({"col1":[1,2,3],
                              "col2":[4,5,6]})
print("ฟังก์ชัน add()")
print(df.add(1))
print("==========")
print("ฟังก์ชัน pow()")
print(df.pow(2))
print("==========")
print("ฟังก์ชัน div()")
print(df.div(2))
print("==========")
print("ฟังก์ชัน floordiv()")
print(df.floordiv(2)) #หารแล้วปัดเศษลง

ฟังก์ชัน add()
   col1  col2
0     2     5
1     3     6
2     4     7
==========
ฟังก์ชัน pow()
   col1  col2
0     1    16
1     4    25
2     9    36
==========
ฟังก์ชัน div()
   col1  col2
0   0.5   2.0
1   1.0   2.5
2   1.5   3.0
==========
ฟังก์ชัน floordiv()
   col1  col2
0     0     2
1     1     2
2     1     3

In [84]:
my_df = np.array([["Player1","ABC",256],
                            ["Player2","SkyBlue",320],
                            ["Player3","ABC",185]])
df = pd.DataFrame(data=my_df,columns=["Player","Team","Score"],index=["A","B","C"])
print(df.add_prefix("My"))
print("==========")
print(df.add_suffix("_"))
print("==========")
df.Score = df.Score.astype('int64')
print(df.dtypes)

  MyPlayer   MyTeam MyScore
A  Player1      ABC     256
B  Player2  SkyBlue     320
C  Player3      ABC     185
==========
   Player_    Team_ Score_
A  Player1      ABC    256
B  Player2  SkyBlue    320
C  Player3      ABC    185
==========
Player    object
Team      object
Score      int64
dtype: object

In [85]:
df1 = pd.DataFrame({"A":[0,5], "B":[1,8]})
df2 = pd.DataFrame({"A":[1,2], "B":[3,6]})
my_df = df1.combine(df2,np.minimum) #รวมโดยเลือกตัวน้อยสุด
print(my_df)
df3 = pd.DataFrame({"A":[np.NaN,5], "B":[np.nan,8]})
df4 = pd.DataFrame({"A":[1,3], "B":[5,7]})
my_df = df3.combine_first(df4) #รวมโดยเลือกตัวแรก ถ้าเป็น NaN ให้เอาตัวถัดไปมาแทน
print(my_df)

   A  B
0  0  1
1  2  6
     A    B
0  1.0  5.0
1  5.0  8.0

In [86]:
df = pd.DataFrame({"A":[0,5],"B":[1,8]})
my_df = df.copy()
my_df.iat[0,0] = 10
print("copy with deep=True")
print("old dataframe")
print(df)
print("new dataframe")
print(my_df)
print()
my_df2 = df.copy(deep=False) 
my_df2.iat[0,0] = 10 #เมื่อเปลี่ยนข้อมูล ข้อมูลเก่าเปลี่ยนด้วย เพราะ deep=False
print("copy with deep=False")
print("old dataframe")
print(df)
print("new dataframe")
print(my_df2)

copy with deep=True
old dataframe
   A  B
0  0  1
1  5  8
new dataframe
    A  B
0  10  1
1   5  8

copy with deep=False
old dataframe
    A  B
0  10  1
1   5  8
new dataframe
    A  B
0  10  1
1   5  8

In [87]:
df =  pd.DataFrame({"A":[0,5],"B":[1,8]})
df2 = pd.DataFrame({"A":["Apple","Apple","Apricot"],
                                "B":["Banana","Blueberry","Blackberry"]})
print(df.describe()) #ข้อมูลเป็นตัวเลข
print(df2.describe()) #ข้อมูลเป็นสตริง

              A         B
count  2.000000  2.000000
mean   2.500000  4.500000
std    3.535534  4.949747
min    0.000000  1.000000
25%    1.250000  2.750000
50%    2.500000  4.500000
75%    3.750000  6.250000
max    5.000000  8.000000
            A          B
count       3          3
unique      2          3
top     Apple  Blueberry
freq        2          1

In [88]:
df = pd.DataFrame(np.array(([10,20,30],[40,50,60])),index=["idx1","index2"],columns=["col1","col2","col3"])
print(df)
# fillter by column name
print(df.filter(items=["col1","col3"]))
# filter by index name
print(df.filter(like="in",axis=0))

        col1  col2  col3
idx1      10    20    30
index2    40    50    60
        col1  col3
idx1      10    30
index2    40    60
        col1  col2  col3
index2    40    50    60